{%load static %} <!--Carrega arquivos estaticos-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django1 - index </title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"> <!--Carrega o arquivo css-->
</head>
<center>

    <body>
        <h1>index</h1>
    
        <img src="{% static 'images/django.png'%}" alt="">
    
        <h2>{{ curso }}</h2>
    
        <p>{{ other }}</p>
    
        <table>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
            {% for produto in produtos %}
                <tr>
                    <td><a href="{% url 'produto' produto.id %}" >{{ produto.nome }}</a></td> <!-- rota do produto que vai exibir o seu ID no caminho -->
                    <td>{{ produto.preco }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <button onclick="teste();">Clique-me</button>
    
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script> <!--Carrega o arquivo js-->
    </body>
</center>

</html>